<article class="message is-primary">

  <div class="message-header">
    <p>	ID: <%= announcement.id %> 
	       Titulo: <%= announcement.title %></p>
   </div>

  <div class="message-body">
  <strong>
    <p> <%= announcement.content %> </p>
    <p> Autor: <%= current_user.username %> </p>
    <p> <%= announcement.created_at.strftime("%d/%B/%Y %H:%M") %> </p>
  </strong> 
  </div>
  	<button class="button is-primary is-rounded"><%= link_to "ver auncio", announcement %> </button>
  	<button class="button is-primary is-rounded"><%= link_to "Eliminicar anuncio", @announcement, method: 																				:delete %></button>
  	<button class="button is-primary is-rounded"><%= link_to "Editar anuncio", @announcement, method: :edit																					%></button>
</article>