
<article class="message is-primary">

  <div class="message-header">
    <p>	ID: <%= announcement.id %> 
	       Titulo: <%= announcement.title %></p>
   </div>

  <div class="message-body">
  <strong>
    <p> <%= announcement.content %> </p>
    <p> Autor: <%= current_user.username %> </p>
    <p> Este anuncio se creo el: <%= announcement.created_at.strftime("%d/%B/%Y %H:%M") %> </p>
    <p> Este anuncio expirará el: <%= announcement.expiration_date.strftime("%d/%B/%Y %H:%M") %> </p>
  </strong> 
  </div>


  	<a class="button is-primary is-rounded" <%= link_to "ver auncio", announcement %> </a>
  	<a class="button is-primary is-rounded" <%= link_to "Eliminicar anuncio", announcement, method: 																				:delete %> </a>
  	<a class="button is-primary is-rounded" <%= link_to "Editar anuncio", announcement, method: :edit																					%></a>



</article>



