<h1>Anuncios publicados </h1>


<div class="container is-max-desktop">
  <div class="notification is-primary">
    <ul>
      <% @announcementpublics.each do |announcement| %>
        <li>
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <div class="column is-half">
                    <code><%= announcement.title %></code>
                      <p>
                        <%= announcement.content %>
                        <%= announcement.user.username %>
                      </p>
                        <button class="button is-success is-light"><%= link_to "ver", announcement %></button>
                  </div>    
                </div>
              </div>
            </div>
                
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <% if @page >= 1 %>
  <a class="pagination-previous" <%= link_to "Página anterior", public_announcement_index_path(page: @page - 1) %> </a>
  <% end %>
  <a class="pagination-next"  <%= link_to "Página Siguiente", public_announcement_index_path(page: @page + 1) %>
</a>

</div>