
<h1>Anuncio ID:<%= @announcementpublic.id %> publicado</h1>
<div class="card">
  <header class="card-header">
    <h2 class="card-header-title-is-centered">
      <%= @announcementpublic.title%>
    </h2>
  </header>

  <div class="card-content">
    <div class="content">

     	<h3> Creado por: <%= @announcementpublic.user.username %> </h3>
		<h4> <%= @announcementpublic.content %> </h4>
		<%= @announcementpublic.created_at.strftime("%d/%B/%Y %H:%M") %>

    </div>
  </div>
 </div>


<button class="button is-medium is-fullwidth"> <%= link_to 'Visto', users_announcements_path(announcement_id: @announcementpublic.id), method: :post %> </button>




